body{
    background-image: url('./images.jpg');
}

canvas{
    border: 4px solid white;
    margin: 0 auto;
    display: block;
    border-bottom: transparent;
    background-image: url('./istockphoto-1333010525-612x612.jpg') ;

}
